.hero-h1 {
    background: transparent;
    color: white;
    /* -webkit-text-stroke-color: black; */
    /* -webkit-text-stroke-width: 4px; */
    mix-blend-mode: difference;
    z-index: 100;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    @apply bg-base-100;

    text-align: center;
    font-size: 18px;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
