.active {
    border-bottom: 4px solid #fede3a;
}
.navLink li a {
    padding: 4px 15px !important;
}
.text-stroke-black {
    -webkit-text-stroke: 1px black;
}
.menu-my li,
.menu-my li a {
    display: block;
    width: 100%;
}

.menu-li * {
    border-radius: 0%;
}
.menu-li li {
    margin-top: 5px;
}

.navBar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100000;
    width: 100%;
    transition: 0.5s;
}

.nav-sticky {
    @apply bg-base-200 shadow-lg;
}
